.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 30px;
  border-bottom: 1px solid #e6e6e6;
}

.navbar h1 {
  font-size: 30px;
  color: #ffe400;
}

.navbar__title a {
  color: inherit;
  text-decoration: none;
}

.navbar__title a:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

/* menu removed */