@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-VariableFont_wght.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #101010;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.align-center {
  display: flex;
  align-items: center;
}